@CHARSET "UTF-8";
	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: 'Nanum Myeongjo', serif;
	}
	a {
	  text-decoration: none;
	  color: black;
	}
	li {
	  list-style: none;
	}
	.wrap {
	  width: 100%;
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	.join {
	  width: 30%;
	  height: 600px;
	  background: white;
	  border-radius: 20px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	}
	h2 {
	  color: #5AC8C8;
	  font-size: 2em;
	}
	.join_id,
	.join_pw,
	.join_name,
	.join_phone,
	.join_email {
	  margin-top: 20px;
	  width: 80%;
	}
	.join_id input,
	.join_pw input,
	.join_name input,
	.join_phone input,
	.join_email input {
	  width: 100%;
	  height: 45px;
	  border-radius: 30px;
	  margin-top: 10px;
	  padding: 0px 20px;
	  border: 1px solid lightgray;
	  outline: none;
	}
	.id_container {
	  display: flex;
	  align-items: center;
	}
	.checkIdbtn {
	  margin-left: 10px;
	  white-space: nowrap;
	}
	.join_gender {
	  display: flex;
	  align-items: center;
	  margin-top: 10px;
	  padding: 15px;
	}
	.join_gender label {
	  margin-right: 50px;
	}
	.submit {
	  width: 80%;
	}
	.submit button {
	  width: 100%;
	  height: 50px;
	  border: 0;
	  outline: none;
	  border-radius: 40px;
	  background: #5AC8C8;
	  color: white;
	  font-size: 1.2em;
	  letter-spacing: 2px;
	}
	.requiredEle::after {
	    content: '*';
	    color: #ff0000;
	}