@CHARSET "UTF-8";
	* {
		font-family: 'Nanum Myeongjo', serif;
	}
	h1 {
		padding: 20px;
		text-align: center;
	}
	.form-floating {
		margin: 20px;
	}
	#content {
		height: 150px;
	}
	.btn_group {
		display: flex;
  		justify-content: center;
  		align-items: center;
  		height: 20vh;
	}
	.btn-primary {
		padding: 10px;
		 margin: 0 40px;
	}
	.anony-check {
		margin: 20px 10px 0 20px;
		display: inline-block;
	}
	.requiredEle::after {
	    content: '*';
	    color: #ff0000;
	}
	.btn-primary {
		margin-right: 90px;
	}
	.files {
		display: flex;
		margin: 20px 0 0 20px;
	}
	.removeFiles {
		margin-left: 15px;
	}
	.file {
		display: flex;
		margin: 20px 10px 0 20px;
	}